<div class="card">
  <div class="wrap">
    <div class="firstRow">
      <span class="cardName">{{cardName}}</span>
      <span *ngIf="paymentSystem=='Visa'" appAlert> <img src="../../assets/Visa.svg" alt="{{paymentSystem}}"></span>
      <span *ngIf="paymentSystem=='Mastercard'" appAlert> Mastercard</span>
    </div>
    <div class="cardNumber">
      <span>{{cardNumber.substring(0,4)}}</span><span>{{cardNumber.substring(4,8)}}</span><span>{{cardNumber.substring(8,12)}}</span><span>{{cardNumber.substring(12,16)}}</span>
    </div>
    <div>
      <span class="amount">{{amount}}</span><span class="expirationDate">{{expirationDate}}</span>
    </div>
  </div>
</div>
